@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1>Университет Контосо</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2> Добро пожаловать в университет Контосо</h2>
        <p>
            Contoso University - это образец приложения,
            демонстрирует, как использовать Entity Framework Core в
            Веб-приложении ASP.NET Core MVC.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Построить с нуля</h2>
        <p>Вы можете создать приложение, выполнив шаги из серии руководств.</p>
        <p><a class="btn btn-default" href="https://docs.asp.net/en/latest/data/ef-mvc/intro.html">Смотрите туториал &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Скачать</h2>
        <p>Вы можете скачать готовый проект с GitHub.</p>
        <p><a class="btn btn-default" href="https://github.com/dotnet/AspNetCore.Docs/tree/main/aspnetcore/data/ef-mvc/intro/samples/cu-final">Просмтореть исходный код проекта &raquo;</a></p>
    </div>
</div>
